*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
    height: 100vh;
}

.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    border:dotted 2px black;
    border-radius: 5px;
    background-color: orange;
    position: relative;
    animation: animate2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 4;

}

@keyframes animate2{
    0%{
        background-color: green;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    25%{
        background-color: red;
        top: 0;
        left: 500px;
        transform: rotate(180deg);
    }
    50%{
        background-color: blueviolet;
        top: 500px;
        left: 500px;
        transform: rotate(0deg);
    }
    75%{
        background-color: blue;
        top: 500px;
        left: 0;
        transform: rotate(180deg);
    }
    100%{
        background-color: green;
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
}