@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chonburi&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Chakra Petch";
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    /*การเขียนแบบเต็ม
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3fr 10fr 2fr;
    grid-template-areas: 
    'header header' 
    'sidebar content' 
    'footer footer' ;*/
    
    /*การเขียนแบบย่อ */
    grid-template: 
    'header header' 3fr
    'sidebar content' 10fr
    'footer footer' 2fr
    / 1fr 5fr ;
}

.header-item{
    background-color: rgb(36, 60, 236);
    grid-area: header;
}
.sidebar-item{
    background-color: aquamarine;
    grid-area: sidebar;
}
.content-item{
    background-color: rgb(60, 193, 255);
    grid-area: content;
}
.footer-item{
    background-color: gray;
    grid-area: footer;
}