@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Chonburi&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Chakra Petch";
    box-sizing: border-box; /*กำหนดให้ขนาดพอดีกับพื้นที่ว่างโดยคำนวณจากค่าจริง*/
}
.grid-container{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr; /*แถวที่ 1 กินพื้นที่ 2 ใน 5 ส่วน*/
    grid-template-columns: 1fr 2fr 1fr; /*คอลัมน์ที่ 2 กินพื้นที่ 2 ใน 4 ส่วน*/
    text-align: center;
    grid-row-gap: 10px; /*เว้นระยะห่างของแถว*/
    grid-column-gap: 5px; /*เว้นระยะห่างของคอลัมน์*/
}    

.item{
    background-color: beige;
    border:solid 2px black;
    margin: 2px;
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
}
