h1,.title{
    color: tomato;
    font-style: italic;
}
.title{
    color: slateblue;
}
p.message{
    font-weight: bolder;
    color: blue;
    font-size: 100%;
}
html{ 
    font-size: 16px;
}
div.rem{
    font-size: 2rem; /*มีขนาดเป็น 2 เท่าของ html*/
}
div.em{
    font-size: 10px;
}
div.emIn{
    font-size: 2em; /*มีขนาดเป็น 2 เท่าของ div.em เนื่องจากเป็นก้อน div ที่ใกล้ที่สุด*/
}
