.darkMode {
  border: 2px solid black;
  background-color: black;
  color: white;
  padding: 30px;
  margin: 10px;
}

.lightMode {
  border: 2px solid black;
  background-color: bisque;
  color: white;
  padding: 30px;
  margin: 10px;
}
